textarea {
	outline: none;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

}

input.seal_it {
	display: block; 
}

.hide {
    display:none !important;
}

.seal_it {
    margin-top: 30px;
    float:left;
    display:block;
    clear: left;
}

#add_more {
    float:left;
    display:block;
    clear: left;
    padding-left: 0;
}

label.error {
    color: red;
}

h1 {
    margin: 30px 0;
    font-family: 'Fjalla One', sans-serif;
}

div#emails .control-group {
    margin-bottom: 0;
}

#create {
    margin-top: 30px; 
}

#recent {
    padding-left: 0; 
}

h3 {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 19px; 
}